<!-- Side-Nav-->
<aside class="main-sidebar hidden-print" ng-controller="sidebarController as vm" ng-if="!isIndexPage">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li ng-class="{'active' : currentUrl.indexOf(row.path) !== -1, 'treeview' : row.child.length > 0}"
                ng-repeat="row in vm.menu">
                <a href="{{row.child.length > 0 ? '#' : row.path}}" ng-click="open = !open">
                    <i class="fa {{row.icon}}"></i><span ng-bind="row.name"></span>
                    <i class="fa" ng-class="{'fa-angle-left': !open, 'fa-angle-down' : open}" ng-if="row.child.length > 0"></i>
                </a>
                <ul class="treeview-menu" ng-if="row.child.length > 0">
                    <li ng-repeat="item in row.child" ng-class="{'active' : currentUrl.indexOf(item.path) !== -1}">
                        <a href="{{item.path}}"><i class="fa {{item.icon}}"></i><span>{{item.name}}</span></a>
                    </li>
                </ul>
            </li>
            <li ng-if="user.login === 'telematic'">
                <a href="/telematics">
                    <i class="fa fa-map-marker"></i><span>Телематика</span>
                </a>
            </li>
        </ul>
    </section>
    <div class="sidebar-version">
        <span>version: {{vm.config.version}}</span>
    </div>
</aside>